<footer class="app-footer">
    <div class="app-footer__body">
      <div class="app-container">
        <div class="app-grid">
          <div class="app-cell">
            <article class="app-footer__widget">
              <h3 class="app-footer__widget-title">Who we are</h3>
              <div class="app-footer__widget-content">
                <p class="app-footer__widget-content-logo">REEN.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, eveniet eligendi.</p>
                <p><a class="app-footer__widget-content-link" href="#">More about us</a></p>
              </div>
            </article>
          </div>
          <div class="app-cell">
              <article class="app-footer__widget">
                <h3 class="app-footer__widget-title">LATEST WORKS</h3>
                <div class="app-footer__widget-content app-footer__widget-content--photo">
                  <img class="app-footer__widget-content-photo-item" src="assets/images/hotel.jpg" alt="">
                  <img class="app-footer__widget-content-photo-item" src="assets/images/ipad.jpg" alt="">
                  <img class="app-footer__widget-content-photo-item" src="assets/images/disc.jpg" alt="">
                  <img class="app-footer__widget-content-photo-item" src="assets/images/phone.jpg" alt="">
                </div>
              </article>
          </div>
          <div class="app-cell">
            <article class="app-footer__widget">
              <h3 class="app-footer__widget-title">GET IN TOUCH</h3>
              <div class="app-footer__widget-content">
                <p>Doloreiur quia commolu ptatemp dolupta oreprerum tibusam eumenis et consent accullignis dentibea autem inisita.</p>
                <ul class="app-footer__widget-content-contact">
                  <li><i class="fas fa-map-marker-alt"></i> Doloreiur quia commolu</li>
                  <li><i class="fas fa-map-marker-alt"></i> Doloreiur quia commolu</li>
                  <li><i class="fas fa-map-marker-alt"></i> Doloreiur quia commolu</li>
                </ul>
              </div>
            </article>
          </div>
          <div class="app-cell">
              <article class="app-footer__widget">
                <h3 class="app-footer__widget-title">GET IN TOUCH</h3>
                <div class="app-footer__widget-content">
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et cum rerum tempore, animi consequuntur perferendis enim consequatur ipsum. Esse commodi labore alias itaque debitis provident sit, soluta nulla dolore ad.</p>
                </div>
              </article>
          </div>
        </div>
      </div>
    </div>
    <div class="app-footer__footer">
      <div class="app-container">
        <div class="app-grid">
          <div class="app-cell">
            <p class="app-footer__copyright">2014 REEN. All rights reserved.</p>
          </div>
          <div class="app-cell">
              <nav class="app-footer__navigation">
                <a class="app-footer__navigation-link" href="#home">Home</a>
                <a class="app-footer__navigation-link" href="#portfolio">Portfolio</a>
                <a class="app-footer__navigation-link" href="#blog">Blog</a>
                <a class="app-footer__navigation-link" href="#about">About</a>
                <a class="app-footer__navigation-link" href="#services">Services</a>
                <a class="app-footer__navigation-link" href="#contact">Contact</a>
              </nav>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- /.app-footer -->
