:host {
  background-image: url(../images/header-bg.jpg);
  text-align: center;
  padding: 302px 0;

  &__title {
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 78px;
    text-transform: uppercase;
  }

  &__desc {
    color: #a3b1bf;
    font-size: 24px;
    max-width: 800px;
    margin: 24px auto;
  }
}
