<header class="app-header">
      <h1 class="app-header__title">Made for Designers</h1>
      <p class="app-header__desc">
        Create your online portfolio in minutes with the professionally and lovingly designed REEN website template.      Customize your site with versatile and easy to use features.
      </p>
      {{> app-button big=true text="Get started now"}}
</header>
<!-- /.app-header -->




